<div class="container">
  <div class="user-sessions-form-area">
    <h1>ログイン</h1>
    <%= form_with(url: login_path, scope: :session, local: true) do |f|%>
      <%= f.label :name, "名前"%>
      <%= f.text_field :name %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>

      <%= f.label :remember_me, class: "checkbox" do%>
        <%= f.check_box :remember_me %>
        <span>次回から自動的にログインする</span>
      <% end %><br/>
      <div style="text-align :center">
        <%= f.submit "ログイン", class: "normal-btn"%>
      </div>
    <% end %> 
  </div>
</div>