<div class="border border-black bg-white m-5 p-5 w-72">
  <div class="m-5">
    <%= link_to user_path(user), id:"user_image_id_#{user.id}" do %>
      <%= render 'layouts/image', {target_image: user, width: 250, height: 250} %>
    <% end %>
  </div>
  <div class="m-5 flex">
    <span class="mx-5 font-bold">
      <%= user.name %>
      <%= user.change_sex_data_string %>
    </span>
    <%= render 'relationships/follow_button', user: user %>
  </div>
  <p class="m-2">
    <span id ="followings_count_user_id_<%= user.id %>" class="m-2" >
      <%= render 'relationships/following_count', user: user %>
    </span>
    <span id ="followers_count_user_id_<%= user.id %>" class="m-2" >
      <%= render 'relationships/followers_count', user: user %>
    </span>
  </p>
</div>



