<div class="border border-black bg-white m-5 p-5">
  <%= link_to user_path(user), id:"user_image_id_#{user.id}" do %>
    <%= render 'layouts/image', {target_image: user, width: 250, height: 250} %>
  <% end %>
  <div class="m-5 text-center">
    <span class="mx-5 font-bold"><%= user.name %></span><span class="inline-block"><%= render 'relationships/follow_button', user: user %></span>
  </div>
  <p class="m-5"><%= user.change_sex_data_string %></p>
  <p class="m-2 border-b-2 border-black">
    <span class="p-2">6フォロー</span>
    <span class="p-2">8フォロワー</span>
  </p>
</div>