<div class="m-5 mt-10 border border-black flex">
  <div class="border border-black p-5 w-3/12 bg-white inline-block">
    <%= render 'layouts/image', {target_image: @user, width: 250, height: 250} %>
    <div class="flex justify-center my-10">
      <span class="mx-5 text-3xl font-bold">
        <%= @user.name %>
      </span>
      <span class="text-3xl mx-5">
        <%= @user.change_sex_data_string %>
      </span>
    </div>
    <div class="m-5 flex justify-end">
      <%= render 'relationships/follow_button', user: @user %>
    </div>
    <p class="m-2 p-2 border-b-2 border-black text-center">
      <span id ="followings_count_user_id_<%= @user.id %>" class="mr-2">
        <%= render 'relationships/following_count', user: @user %>
      </span>
      <span id ="followers_count_user_id_<%= @user.id %>" class="ml-2">
        <%= render 'relationships/followers_count', user: @user %>
      </span>
    </p>
    <div class="my-10">
      <p class="my-10 w-full text-center"><%= link_to "アカウント情報を編集する", edit_user_path(@user), class: "btn btn-salmon" if @user == current_user && @user.name != guest_name %></p>
      <p class="my-10 w-full text-center"><%= link_to "登録したデートコース一覧", "#", class: "btn btn-salmon" %></p>
      <p class="my-10 w-full text-center"><%= link_to "登録したデートスポット一覧", "#", class: "btn btn-salmon" %></p>
      <p class="my-10 w-full text-center"><%= link_to "レビューしたデートスポット一覧", "#", class: "btn btn-salmon" %></p>
      <p class="my-10 w-full text-center"><%= link_to "レビューしたデートコース一覧", "#", class: "btn btn-salmon" %></p>
      <p class="my-10 w-full text-center"><%= link_to "デートコースを作成する", "#", class: "btn btn-salmon" %></p>
    </div>
  </div>
  <div class="w-9/12">
    <% @user.date_spot_reviews.each do |date_spot_review| %>
      <%= render 'date_spot_reviews/date_spot_review_profile', {date_spot_review: date_spot_review, target_image: date_spot_review.date_spot, target_name: date_spot_review.date_spot.name} %>
    <% end %>
  </div>
</div>
