<div class="m-5 mt-10 border border-black">
  <div class="border border-black p-5 w-auto inline-block">
    <%= image_tag @user.image.variant(gravity: :center, resize:"250x250^", crop:"250x250+0+0") || "no_image.jpg", class:"m-auto"%>
    <p class="m-2">
      <span class="p-2 m-auto"><%= @user.name%></span>
      <span class="p-2"><%= @user.change_sex_data_string %></span>
    </p>
    <p class="m-2 w- border-b-2 border-black">
      <span class="p-2">6フォロー</span>
      <span class="p-2">8フォロワー</span>
    </p>
    <div class="my-10">
      <p class="my-10 w-full text-center"><%= link_to "アカウント情報を編集する", edit_user_path(@user), class: "btn btn-salmon" if @user == current_user && @user.name != guest_name %></p>
      <p class="my-10 w-full text-center"><%= link_to "登録したデートコース一覧", "#", class: "btn btn-salmon" %></p>
      <p class="my-10 w-full text-center"><%= link_to "登録したデートスポット一覧", "#", class: "btn btn-salmon" %></p>
      <p class="my-10 w-full text-center"><%= link_to "レビューしたデートスポット一覧", "#", class: "btn btn-salmon" %></p>
      <p class="my-10 w-full text-center"><%= link_to "レビューしたデートコース一覧", "#", class: "btn btn-salmon" %></p>
      <p class="my-10 w-full text-center"><%= link_to "デートコースを作成する", "#", class: "btn btn-salmon" %></p>
    </div>
  </div>
</div>
