<div class="m-5 mt-10 border border-black flex">
  <div class="border border-black p-5 w-3/12 bg-white inline-block">
    <%= render 'layouts/image', {target_image: @user, width: 250, height: 250} %>
    <div class="m-5 text-center">
      <span class="mx-5 font-bold">
        <%= @user.name %>
      </span>
      <span class="inline-block">
        <%= render 'relationships/follow_button', user: @user %>
      </span>
    </div>
    <span class="p-3"><%= @user.change_sex_data_string %></span>
    <p class="m-2 w- border-b-2 border-black">
      <%= render 'relationships/following_count', user: @user %>
      <span class="p-2">8フォロワー</span>
    </p>
    <div class="my-10">
      <p class="my-10 w-full text-center"><%= link_to "アカウント情報を編集する", edit_user_path(@user), class: "btn btn-salmon" if @user == current_user && @user.name != guest_name %></p>
      <p class="my-10 w-full text-center"><%= link_to "登録したデートコース一覧", "#", class: "btn btn-salmon" %></p>
      <p class="my-10 w-full text-center"><%= link_to "登録したデートスポット一覧", "#", class: "btn btn-salmon" %></p>
      <p class="my-10 w-full text-center"><%= link_to "レビューしたデートスポット一覧", "#", class: "btn btn-salmon" %></p>
      <p class="my-10 w-full text-center"><%= link_to "レビューしたデートコース一覧", "#", class: "btn btn-salmon" %></p>
      <p class="my-10 w-full text-center"><%= link_to "デートコースを作成する", "#", class: "btn btn-salmon" %></p>
    </div>
  </div>
  <div class="w-9/12">
    <% @user.date_spot_reviews.each do |date_spot_review| %>
      <%= render 'date_spot_reviews/date_spot_review_profile', {date_spot_review: date_spot_review, target_image: date_spot_review.date_spot} %>
    <% end %>
  </div>
</div>
