<div class="bg-no-repeat bg-cover bg-top flex items-end" style="background-image: url('<%= asset_url('lp.jpg') %>'); height: 500px;">
  <div class="m-5">
    <%= link_to "デートコースを作成してみよう", "#", class: "btn btn-pink text-3xl" %>
  </div>
</div>
<%= render 'layouts/date_spot_and_user_name_search'%>
<div class="bg-white mb-1">
  <p class="md:text-3xl text-xl pt-10 text-center">デートスポットをエリアから探す</p>
  <div class="flex justify-center flex-wrap w-full p-5">
    <% @main_prefectures.each do |prefecture| %>
      <%= render "prefectures/prefecture", prefecture: prefecture %>
    <% end %>
    <% @areas.each do |area| %>
      <%= render 'areas/area', area: area %>
    <% end %>
  </div>
</div>
<div class="bg-white">
  <p class="md:text-3xl text-xl pt-10 text-center">デートスポットをジャンルで探す</p>
  <div class="flex">
    <div class="flex justify-center flex-wrap w-full p-5">
      <% @main_genres.each do |genre| %>
        <%= render "genres/genre", genre: genre %>
      <% end %>
    </div>
  </div>
</div>
