<%= form_with(model: date_spot, local: true) do |f| %>
  <%= render 'shared/error_messages', target: date_spot %>
  <%= f.label :name, "デートスポット名" %>
  <%= f.text_field :name, class: "mb-5 border-b-2 outline-none w-full" %>

  <%= f.label :address, "住所" %><br/>
  <%= f.fields_for :address do |address| %>
    <%= address.grouped_collection_select(:prefecture_id, Area.all, :prefectures, :name, :id, :name, prompt: "都道府県を選択してください") %><br/>
    <%= address.label :city_name, "市町村名、番地" %>
    <%= address.text_field :city_name, class: "mb-5 border-b-2 outline-none w-full" %>
  <% end %>

  <label>営業時間</label><br/>
  <p class="mb-5 border-b-2 outline-none">
    <%= f.label :opening_time, "始業時間" %>
    <%= f.time_field :opening_time, class: "mr-5" %>
    ~
    <%= f.label :closing_time, "終業時間", class: "ml-5" %>
    <%= f.time_field :closing_time %>
  </p>

  <%= f.label :image, "サムネイル"%>
  <%= f.file_field :image %>

  <div class="text-center p-1">
    <%= f.submit btn_name, class: "btn btn-salmon my-5" %>
  </div>
<% end %>