<div class="p-5 m-5 shadow-lg bg-white border border-gray-200">
  <div class="md:flex">
    <div class="md:w-5/12 w-full">
      <%= render 'layouts/image', {target_image: date_spot, width: 400, height: 400}%>
    </div>
    <div class="md:w-7/12 w-full p-3">
      <p class="font-bold"><%= date_spot.name %></p>
      <p class="my-5">口コミ<span class="ml-5">12<span></p>
      <p>⭐️⭐️⭐️⭐️⭐️</p>
      <p><%= render 'date_spots/date_spot_business_hour', date_spot: date_spot %></p>
      <p class="mt-5 font-bold"> 住所</p>
      <p class="mt-2"><%= date_spot.address.prefecture.name %><%= date_spot.address.city_name %></p>
      <p class="mt-5"><span class="font-bold">ジャンル</span> <%= date_spot.genre.name %></p>
    </div>
  </div>
  <div class="md:flex md:justify-center text-center">
    <button class="btn btn-salmon w-60 m-2">デートコースに追加<button>
    <%= link_to "デートスポットを見る", date_spot_path(date_spot), class:"btn btn-salmon w-60 m-2"%>
  </div>
</div>