<div class="border border-black bg-white mt-10 m-20 p-5">
  <h1 class="w-full m-5 text-sm font-bold md:text-3xl">
    <%= @date_spot.name %>
  </h1>

  <div class="w-full h-1/2">
    <div class="m-0 md:h-96 xl:m-20 2xl:m-40">
      <%= image_tag @date_spot.image.variant(gravity: :center) || 'no_image.jpg' , class:"object-fill max-h-96 w-full" %>
    </div>

    <div class="w-full flex m-5" id = "date_spot_reviews_rate_average" >
      <img src ="<%= asset_url('star-off.png') %>" id ="star-average-1" class ="w-14 h-14">
      <img src ="<%= asset_url('star-off.png') %>" id ="star-average-2" class ="w-14 h-14">
      <img src ="<%= asset_url('star-off.png') %>" id ="star-average-3" class ="w-14 h-14">
      <img src ="<%= asset_url('star-off.png') %>" id ="star-average-4" class ="w-14 h-14">
      <img src ="<%= asset_url('star-off.png') %>" id ="star-average-5" class ="w-14 h-14">
      <div class="mx-4 font-bold mt-3 md:text-3xl">評価</div>
      <div class="font-bold mt-3 md:text-3xl" id = "date_spot_reviews_rate_average_number">
        <%= @date_spot_reviews_rate_average %>
      </div>
    </div>
  </div>

  <div class="mx-5 my-10 text-sm font-bold md:text-xl">
    <%= render 'date_spot_business_hour', date_spot: @date_spot %>
  </div>
  <div class="mx-5 my-10 text-sm font-bold md:text-xl">
    <span class="font-bold">ジャンル:</span>
    <%= @date_spot.genre.name %>
  </div>
  <div class="m-5 text-center text-sm font-bold md:text-xl"><%= @date_spot.address.prefecture.name %><%= @date_spot.address.city_name %></div>
  <div class="w-full h-full bg-gray-500">
    <h1 class="text-center">地図</h1>
  </div>

  <div class="text-center">
      <button class="btn btn-salmon my-5">デートコースに追加する<button>
      <%= link_to "デートスポットを編集する", edit_date_spot_path(@date_spot), class:"btn btn-salmon m-5" if admin_logged_in? %>
  </div>
</div>

<div class="border border-black mt-10 m-20">
  <div class="m-5">
    <%= link_to "レビューする", new_date_spot_date_spot_review_path(@date_spot), class: "btn btn-salmon" unless @current_user_date_spot_review %>
  </div>

  <!-- 非同期機能実装 -->
  <%= render 'date_spot_reviews/date_spot_review_profile', {date_spot_review: @current_user_date_spot_review, target_image: @current_user_date_spot_review.user } if @current_user_date_spot_review %>
  <% @reviews.each do |date_spot_review| %>
    <%= render 'date_spot_reviews/date_spot_review_profile', {date_spot_review: date_spot_review, target_image: date_spot_review.user } %>
  <% end %>
</div>

<script>

  (function(){
    let images = document.getElementById("date_spot_reviews_rate_average").childNodes;
    let date_spot_reviews_rate_average_number = Number(document.getElementById("date_spot_reviews_rate_average_number").innerText);
    for (let i= 1; i <= date_spot_reviews_rate_average_number; i++){
      document.getElementById(`star-average-${i}`).setAttribute("src", "<%= asset_url('star-on.png') %>");
    };
  }());
</script>
