<div class="border border-black mt-10 m-20">
  <h1 class="w-full m-5">
    <%= @date_spot.name %>
  </h1>
  
  <%= render 'layouts/image', {target_image: @date_spot, width: 400, height: 400}%><br/>

  <% if admin_logged_in? %>
    <div class="m-5">
      <%= link_to "デートスポット情報の編集", edit_date_spot_path(@date_spot), class:"btn btn-salmon" %>
    </div>
  <% end %>

  <div class="flex">
    <div class="w-2/6">
      <div class="m-5"><%= @date_spot.address.prefecture.name %><%= @date_spot.address.city_name %></div>
      <%= render 'date_spot_business_hour', date_spot: @date_spot %>
      <div class="m-5"><%= @date_spot.genre.name %></div>
    </div>
    <div class="w-4/6 p-5">
      <div class="w-full h-full bg-gray-500">
        <h1 class="text-center">地図</h1>
      </div>
    </div>
  </div>

  <div class="text-center">
      <button class="btn btn-salmon my-5">デートコースに追加する<button>
      <%= link_to "このデートスポットを編集する", edit_date_spot_path(@date_spot), class:"btn btn-salmon m-5" if admin_logged_in? %>
  </div>
</div>

<div class="border border-black mt-10 m-20">
  <div class="m-5">
    <%= link_to "レビューする", new_date_spot_date_spot_review_path(@date_spot), class: "btn btn-salmon" %>
  </div>

  <!-- 非同期機能実装 -->
  <% @date_spot.date_spot_reviews.each do |date_spot_review| %>
    <%= render 'date_spot_reviews/date_spot_review_profile', {date_spot_review: date_spot_review, target_image: date_spot_review.user }%>
  <% end %>
</div>
