<div class="border border-black m-10">
  <h1 class="w-full m-5"><%= @date_spot.name %></h1>
  <%= image_tag @date_spot.image.variant(resize_to_limit: [700, 700]) || "no_image.jpg", class:"m-5" %>
  <p class="m-5"><%= @date_spot.address.prefecture.name %><%= @date_spot.address.city_name %></p>
  <p class="m-5">営業時間<%= @date_spot.opening_time%> ~ <%= @date_spot.closing_time %></p>
</div>
