<div class="border border-black bg-white mt-10 m-20 p-5">
  <h1 class="w-full m-5 text-sm font-bold md:text-3xl" id="date_spot_name">
    <%= @date_spot.name %>
  </h1>

  <div class="w-full h-1/2">
    <div class="m-0 md:h-96 xl:m-20 2xl:m-40">
      <%= image_tag @date_spot.image.variant(gravity: :center) || 'no_image.jpg' , class:"object-fill max-h-96 w-full" %>
    </div>

    <div class="w-full flex m-5" id = "date_spot_reviews_rate_average" >
      <img src ="<%= asset_url('date_spot_review_images/star-off.png') %>" id ="star-average-1" class ="w-14 h-14">
      <img src ="<%= asset_url('date_spot_review_images/star-off.png') %>" id ="star-average-2" class ="w-14 h-14">
      <img src ="<%= asset_url('date_spot_review_images/star-off.png') %>" id ="star-average-3" class ="w-14 h-14">
      <img src ="<%= asset_url('date_spot_review_images/star-off.png') %>" id ="star-average-4" class ="w-14 h-14">
      <img src ="<%= asset_url('date_spot_review_images/star-off.png') %>" id ="star-average-5" class ="w-14 h-14">
      <div class="mx-4 font-bold mt-3 md:text-3xl">評価</div>
      <div class="font-bold mt-3 md:text-3xl" id = "rate_average_number">
        <%= @date_spot_reviews_rate_average %>
      </div>
    </div>
  </div>

  <div class="mx-5 my-10 text-sm font-bold md:text-xl">
    <%= render 'date_spot_business_hour', date_spot: @date_spot %>
  </div>

  <div class="mx-5 my-10 text-sm font-bold md:text-xl">
    <span class="font-bold">ジャンル:</span>
    <%= link_to @date_spot.genre.name, {:controller=>"date_spots",:action=>"index",:date_spot_search=>{:genre_id_eq=>"#{@date_spot.genre.id}"}}, as: :date_spot_search, class:"font-bold" %>
  </div>

  <div class="m-5 text-center text-sm font-bold md:text-xl" id="address">
    <%= @date_spot.address.city_name %>
  </div>

  <div class="h-96 m-auto" id="map" >
  </div>

  <div class="text-center">
    <%= render 'management_date_spots/add_course', date_spot: @date_spot %>
    <%= link_to "デートスポットを編集する", edit_date_spot_path(@date_spot), class:"btn btn-salmon m-5" if admin_logged_in? %>
  </div>
</div>

<div class="border border-black mt-10 m-20">
  <div class="m-5">
    <%= link_to "レビューする", new_date_spot_date_spot_review_path(@date_spot), class: "btn btn-salmon" unless @current_user_date_spot_review %>
  </div>

  <!-- 非同期機能実装 -->
  <%= render 'date_spot_reviews/date_spot_review_profile', {date_spot_review: @current_user_date_spot_review, target_image: @current_user_date_spot_review.user, target_name: @current_user_date_spot_review.user.name } if @current_user_date_spot_review %>
  <% @reviews.each do |date_spot_review| %>
    <%= render 'date_spot_reviews/date_spot_review_profile', {date_spot_review: date_spot_review, target_image: date_spot_review.user, target_name: date_spot_review.user.name } %>
  <% end %>
</div>
<script>
(() => {
  const images = document.getElementById("date_spot_reviews_rate_average").childNodes;
  const rate_average = Number(document.getElementById("rate_average_number").innerText);

  // 小数点第二以下を切り捨てる。
  const rate_average_number = Math.floor(rate_average * 10) / 10;

  // viewに小数点第二以下を切り捨てた数字を反映する。
  document.getElementById("rate_average_number").innerText = rate_average_number;

  // 小数部分
  const rate_decimal_value = Number(String(rate_average_number).split(".")[1]) / 10;

  // 整数部分
  const rate_integral_value = Math.trunc(rate_average_number);

  //.map(要素用の変数, インデックス番号用の変数)
  [...Array(5)].map((_, number) => {
    if(number + 1 <= rate_integral_value ){
      const image = document.getElementById(`star-average-${number + 1}`);
      image.setAttribute("src", "<%= asset_url('date_spot_review_images/star-on.png') %>");
    }
  });

  // 小数点部分の評価を画像に反映させる。反映
  if(rate_decimal_value > 0 && rate_decimal_value <= 0.5){
    const image = document.getElementById(`star-average-${rate_integral_value + 1}`);
    image.setAttribute("src", "<%= asset_url('date_spot_review_images/star-half.png') %>");
  }else if(rate_decimal_value >= 0.6){
    const image = document.getElementById(`star-average-${rate_integral_value + 1}`);
    image.setAttribute("src", "<%= asset_url('date_spot_review_images/star-on.png') %>");
  };
})();

function initMap(){
  // 座標を作成
  const point = {lat: <%= @date_spot.address.latitude %>, lng: <%= @date_spot.address.longitude %> };
  // マーカーのタイトルを作成
  const title = document.getElementById('date_spot_name').textContent.replace(/\r?\n/g,'');
  const address = document.getElementById('address').textContent.replace(/\r?\n/g,'');

  // マーカーをクリックした際に表示する文面を作成
  const content = '<div id="map_content"><p>' + title + '<br/>' + address + '<br/><a href="https://maps.google.co.jp/maps?q=' + [point.lat, point.lng] + '&iwloc=J" target="_blank" rel="noopener noreferrer">Googleマップで見る</a></p></div>';

  const mapOptions = {
    center:  new google.maps.LatLng(point.lat, point.lng),
    zoom: 15
  };
  const map = new google.maps.Map(document.getElementById('map'), mapOptions);
  const marker = new google.maps.Marker({
    position: point,
    map: map,
    title: title
  });

  //情報ウィンドウのインスタンスを生成
  const infowindow = new google.maps.InfoWindow({
    content: content,
  });
  
  //marker をクリックすると情報ウィンドウを表示(リスナーの登録）
  google.maps.event.addListener(marker, 'click', function() {
    //第2引数にマーカーを指定して紐付け
    infowindow.open(map, marker);
  });
};

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials[:GOOGLE_MAP_API_KEY] %>&callback=initMap"></script>
