<div class="bg-no-repeat bg-cover bg-top flex items-end" style="background-image: url('<%= asset_url('lp.jpg') %>'); height: 600px;">
  <div class="m-5">
    <%= link_to "デートコースを作成してみよう", "#", class: "btn btn-pink text-3xl" %>
  </div>
</div>
<div class="bg-white">
  <p class="p-10 text-center text-3xl">エリアでデートスポットを探す</p>
  <div class="flex">
    <div class="flex flex-wrap w-3/12">
      <% @areas.each do |area| %>
        <%= render "areas/area", area: area %>
      <% end %>
    </div>
    <div class="flex flex-wrap w-9/12">
      <% @main_prefectures.each do |prefecture| %>
        <%= render "prefectures/prefecture", prefecture: prefecture %>
      <% end %>
    </div>
  </div>
<div>
<div class="bg-white">
  <p class="p-10 text-center text-3xl">エリアでデートスポットを探す</p>
  <div class="flex">
    <div class="flex flex-wrap w-3/12">
      <% @areas.each do |area| %>
        <%= render "areas/area", area: area %>
      <% end %>
    </div>
    <div class="flex flex-wrap w-9/12">
      <% @main_prefectures.each do |prefecture| %>
        <%= render "prefectures/prefecture", prefecture: prefecture %>
      <% end %>
    </div>
  </div>
<div>

