<div class="m-5 mt-10 border border-black flex">
  <div class="w-3/12 border border-black">
    <%= render "layouts/date_spot_top3" %>
    <%= render "layouts/name_search", { title_target: "デートスポットを名前で検索", search_target: @date_spot_search_params } %>
    <div class ="bg-white w-72 inline-block p-2 m-2">
      <%= search_form_for (@user_search_params, as: :p) do |f| %>
        <%= f.label :name, "ユーザーを名前で検索" %>
        <%= f.search_field :name_cont, class: "my-5 w-full border-b-2 outline-none" %> <!-- name_contはnameカラムの単語の一部分を含むものを検索するという意味になります。 -->
        <div class="text-center">
          <%= f.submit "検索", class: "btn btn-salmon my-2" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="w-9/12">
    <div class="bg-black w-full h-72">
      <h1 class="text-white text-center">
        ランディングページ用の画像をここに表示
      </h1>
    </div>
    <h1 class="m-5">エリアでデートスポットを探す</h1>
    <div class="flex flex-wrap">
      <% @main_prefectures.each do |prefecture| %>
        <%= render "prefectures/prefecture", prefecture: prefecture %>
      <% end %>
      
      <% @areas.each do |area| %>
        <%= render "areas/area", area: area %>
      <% end %>
    </div>
  </div>
</div>

