<div class="border border-black w-11/12 m-5">
  <div class="m-5">
    <% if course.scheduled_time %>
      <%= course.scheduled_time.strftime("%Y年%m月%d日") %>にデートの予定
    <% end %>
  </div>
  <div class="flex justify-evenly">
    <% course.information_courses.first(3).each do |information_course| %>
      <%= render "courses/information_course_profile", information_course: information_course %>
    <% end %>
    <% if course.information_courses.count < 3 %>
      <div class="m-2">
        <div class="bg-gray-400 w-52 h-52">
          <div class="text-xs text-center font-bold pt-24">
            登録されていません
          </div>
        </div>
        <div class="text-xs text-center">
          <p class="m-2">
            デートスポット名
          </p>
          <p class="m-2">
            デートスポットの住所
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="m-2 flex">
    <div class="w-1/6">
      <%= link_to user_path(course.user), id:"user_image_id_#{course.user.id}" do %>
        <% if course.user.image.attached? %>
          <%= image_tag course.user.image.variant(gravity: :center, resize:"100x100^", crop:"100x100+0+0"), class: "m-2" %>
        <% else %>
          <%= image_tag "no_image.jpg", size: "100x100", class: "m-2" %>
        <% end %>
      <% end %>
      <div class="text-center m-auto">
        <%= render 'relationships/follow_button', user: course.user %>
      </div>
    </div>
    <div class="w-3/6 mt-9 mx-5">
      <span class="my-3">
        <div>感想文・どのようなテーマで作成したかなどを表示</div>
        <%= link_to user_path(course.user), id:"user_name_id_#{course.user.id}" do %>
          <%= course.user.name %>
          (<%= course.user.change_gender_data_string %>)さんが作成したデートコースです。
        <% end %>
      </span>
    </div>
  </div>
  <div class="text-center">
    <%= link_to "デートコース詳細画面に行く", course_path(course.id), class:"btn btn-salmon m-5" %>
  </div>
</div>