<div class="p-5 mx-5 shadow-lg bg-white border border-gray-200">
  <div class="w-full flex">
    <div class="w-6/12">
      <p class="font-bold m-3" id="date_spot_name_position_number_<%= position_number %>"><%= date_spot.name %></p>
      <div class="w-full flex m-3" id = "date_spot_reviews_rate_average-<%= date_spot.id %>" >
        <img src ="<%= asset_url('date_spot_review_images/star-off.png') %>" id ="star-average-1-id-<%= date_spot.id %>" class ="w-7 h-7">
        <img src ="<%= asset_url('date_spot_review_images/star-off.png') %>" id ="star-average-2-id-<%= date_spot.id %>" class ="w-7 h-7">
        <img src ="<%= asset_url('date_spot_review_images/star-off.png') %>" id ="star-average-3-id-<%= date_spot.id %>" class ="w-7 h-7">
        <img src ="<%= asset_url('date_spot_review_images/star-off.png') %>" id ="star-average-4-id-<%= date_spot.id %>" class ="w-7 h-7">
        <img src ="<%= asset_url('date_spot_review_images/star-off.png') %>" id ="star-average-5-id-<%= date_spot.id %>" class ="w-7 h-7">
      </div>
      <p class="font-bold m-3">評価
        <span class="font-bold" id = "rate_average_number-<%= date_spot.id %>">
          <%= review_average_calculation(date_spot) %>
        </span>
      </p>
      <p class="m-3">
        <span class="font-bold">ジャンル:</span>
        <%= link_to date_spot.genre.name, {:controller=>"date_spots",:action=>"index",:date_spot_search=>{:genre_id_eq=>"#{date_spot.genre.id}"}}, as: :date_spot_search, class:"font-bold" %>
      </p>
    </div>
    <div class="w-6/12">
      <%= link_to date_spot_path(date_spot), id:"date_spot_image_id_#{date_spot.id}" do %>
        <%= render 'layouts/image', {target_image: date_spot, width: 400, height: 400}%>
      <% end %>
    </div>
  </div>
  <div class="text-center">
    <p class="mt-5">
      <span class="m-5 font-bold">住所</span>
      <span id="address_position_number_<%= position_number %>"><%= date_spot.address.city_name %></span>
    </p>
    <% if date_spot_names && date_spots.count >= 2 %>
      <%= form_with url:change_information_course_path, local: true do |f| %>
        <%= f.hidden_field :course_id, :value => course.id %>
        <%= f.hidden_field :original_id, :value => date_spot.id %>
        <%= f.select :change_name, date_spot_names %>
        <%= f.submit 'と順番を入れ替える', class:"btn btn-salmon" %>
      <% end %>
    <% end %>
    <%= link_to "デートコースから削除", delete_information_course_path(id: course.id ,date_spot_id: date_spot.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-red m-5" if date_spots.count > 2 %>
  </div>
</div>

<script>
  (function(){
    let images = document.getElementById("date_spot_reviews_rate_average-<%= date_spot.id %>").childNodes;
    let rate_average_number = Number(document.getElementById("rate_average_number-<%= date_spot.id %>").innerText);

    // 小数点第二以下を切り捨てる。
    rate_average_number = Math.floor(rate_average_number * 10) / 10;

    // viewに小数点第二以下を切り捨てた数字を反映する。
    document.getElementById("rate_average_number-<%= date_spot.id %>").innerText = rate_average_number;

    // 小数
    let rate_decimal_value = 0;

    // 小数かどうかを判定する。
    if(!Number.isInteger(rate_average_number)){
      rate_decimal_value = Number(String(rate_average_number).split(".")[1]) / 10;
    };

    // 整数
    let rate_integral_value = Math.trunc(rate_average_number);
    
    // 整数値部分の評価を画像に反映
    for (let i= 1; i <= rate_integral_value; i++){
      let image = document.getElementById(`star-average-${i}-id-<%= date_spot.id %>`);
      image.setAttribute("src", "<%= asset_url('date_spot_review_images/star-on.png') %>");
    };

    // 小数点部分の評価を画像に反映させる。反映
    if(rate_decimal_value > 0 && rate_decimal_value <= 0.5){
      let image = document.getElementById(`star-average-${rate_integral_value + 1}-id-<%= date_spot.id %>`);
      image.setAttribute("src", "<%= asset_url('date_spot_review_images/star-half.png') %>");
    }else if(rate_decimal_value >= 0.6){
      let image = document.getElementById(`star-average-${rate_integral_value + 1}-id-<%= date_spot.id %>`);
      image.setAttribute("src", "<%= asset_url('date_spot_review_images/star-on.png') %>");
    };
  }());
</script>