<div class="flex">
  <div class="w-2/3">
    <%= form_with model: date_spot_review, local: true do |f| %>
      <%= render 'shared/error_messages', target: date_spot_review %>
      <%= f.hidden_field :date_spot_id, :value => date_spot_review.date_spot_id %>
      <%= f.hidden_field :user_id, :value => date_spot_review.user_id %>

      <div class="m-5">
        <%= user.name %>
      </div>

      <div class="m-5 flex" id="rate">
        <img src ="<%= asset_url('date_spot_review_images/star-off-left.png') %>" id ="star-0.5">
        <img src ="<%= asset_url('date_spot_review_images/star-off-right.png') %>" id ="star-1">
        <img src ="<%= asset_url('date_spot_review_images/star-off-left.png') %>" id ="star-1.5">
        <img src ="<%= asset_url('date_spot_review_images/star-off-right.png') %>" id ="star-2">
        <img src ="<%= asset_url('date_spot_review_images/star-off-left.png') %>" id ="star-2.5">
        <img src ="<%= asset_url('date_spot_review_images/star-off-right.png') %>" id ="star-3">
        <img src ="<%= asset_url('date_spot_review_images/star-off-left.png') %>" id ="star-3.5">
        <img src ="<%= asset_url('date_spot_review_images/star-off-right.png') %>" id ="star-4">
        <img src ="<%= asset_url('date_spot_review_images/star-off-left.png') %>" id ="star-4.5">
        <img src ="<%= asset_url('date_spot_review_images/star-off-right.png') %>" id ="star-5">
        <%= f.label :rate, "評価", class: "mx-4" %>
        <%= f.number_field :rate, readonly: true, class:"outline-none pointer-events-none", id: "rate-number" %>
      </div>

      <div class="m-5">
        <%= f.label :content, "コメント" %><br/>
        <%= f.text_area :content, size: "30x5", class:"border border-black" %>
        <span class="text-center">
          <%= f.submit btn_name, class: "btn btn-salmon my-5" %>
        </span>
      </div>
    <% end %>
  </div>
  <div class="w-1/3 p-5">
    <%= render 'layouts/image', { target_image: user, width: 250, height: 250 }%>
  </div>
</div>

<script>
  (function(){

    // 星にカーソルを合わせた場合の挙動の関数
    let starMouseover = function(element, idNumber){
      element.addEventListener("mouseover", function(){
        rate_management(idNumber, "starOn");
        rateNumber.value = starOnCount();
      }, false);
    };

  　// 星からカーソルを外した場合の挙動の関数
    let starMouseout = function(element, idNumber){
      element.addEventListener("mouseout", function(){
        rate_management(idNumber, "starOff");
        rateNumber.value = starOnCount();
      }, false);
    };

    // 星をクリックした場合の挙動を行う関数
    let starClick = function(element, idNumber){
      element.addEventListener("click", function(){
        star_clicked_when_of_branch(element, idNumber);
      }, false);
    };

  　// クリックした際に、既に星が判定されているを判定する関数。
    let star_clicked_when_of_branch = function(element, idNumber){
      if(element.getAttribute("id") == `star-${idNumber}`){
        // クリックした際に評価され、星に色がつく
        rate_management_clicked(idNumber);
        rateNumber.value = starOnCount();
      }else if(element.getAttribute("id") == `star-clicked-${idNumber}`){
        // 星の評価を解除する。
        starOffAll();
        rateNumber.value = starOnCount();
      };
    };

    // 判定する星が右か左かを決定する関数
    let starOnRightLeft = function(element, idNumber){
      if(!Number.isInteger(idNumber)){
        element.setAttribute("src", "<%= asset_url('date_spot_review_images/star-on-left.png') %>");
      }else if(Number.isInteger(idNumber)){
        element.setAttribute("src", "<%= asset_url('date_spot_review_images/star-on-right.png') %>");
      };
    };

    // 解除する星が右か左かを決定する関数
    let starOffRightLeft = function(element, idNumber){
      if(!Number.isInteger(idNumber)){
        element.setAttribute("src", "<%= asset_url('date_spot_review_images/star-off-left.png') %>");
      }else if(Number.isInteger(idNumber)){
        element.setAttribute("src", "<%= asset_url('date_spot_review_images/star-off-right.png') %>");
      };
    };

    // 評価されている星すべての評価を解除する関数。
    let starOffAll = function(){
      let images = document.getElementById("rate").childNodes;
      for (let collectionnumber= 1, idNumber = 0.5; collectionnumber <= 19; collectionnumber += 2, idNumber += 0.5){

        if(images[collectionnumber].getAttribute("src") == "<%= asset_url('date_spot_review_images/star-off.png') %>"){
          continue;
        };

        images[collectionnumber].setAttribute("id", `star-${idNumber}`);
        starOffRightLeft(document.getElementById(`star-${idNumber}`), idNumber);
      };
    };

    // カーソルを合わせた星以下の星も変化させる関数　例　3番目の星にチェックを入れていたら、1番目と2番目も画像を変化させる関数。
    let rate_management = function(idNumber, starCondition){
      for(let subtractNumber = 0.5; subtractNumber <= idNumber; subtractNumber += 0.5){

        if(!document.getElementById(`star-${subtractNumber}`)){
          continue;
        };
        
        if(starCondition == "starOn"){
          starOnRightLeft(document.getElementById(`star-${subtractNumber}`), subtractNumber);
        } else if(starCondition == "starOff"){
          starOffRightLeft(document.getElementById(`star-${subtractNumber}`), subtractNumber);
        };

      };
    };

  　// クリックした星より前の星も変化するようにする関数。
    let rate_management_clicked = function(idNumber){
      for(let subtractNumber = 0; subtractNumber <= idNumber; subtractNumber += 0.5){

        if(!document.getElementById(`star-${subtractNumber}`)){
          continue;
        };

        let starClicked = document.getElementById(`star-${subtractNumber}`);
        starClicked.setAttribute("id", `star-clicked-${subtractNumber}`);
        
        starOnRightLeft(document.getElementById(`star-clicked-${subtractNumber}`), subtractNumber);
      };
    };

    // src属性が"<%= asset_url('date_spot_review_images/star-off.png') %>"のものを数えて返す。 この関数により、評価値を設定できている。
    let starOnCount = function(){
      let images = document.getElementById("rate").childNodes;
      let count = 0;

      for (let collectionNumber = 1; collectionNumber <= 19; collectionNumber += 2){
        if(images[collectionNumber].getAttribute("src") == "<%= asset_url('date_spot_review_images/star-on-left.png') %>"){
          count += 0.5;
        }else if(images[collectionNumber].getAttribute("src") == "<%= asset_url('date_spot_review_images/star-on-right.png') %>"){
          count += 0.5;
        };
      };

      return count;
    };

    // 星による評価の数値
    let rateNumber = document.getElementById("rate-number");
    rateNumber.value = starOnCount();

    // mouseが星の上にカーソルが乗っているとき
    for(let idNumber = 0.5; idNumber <= 5; idNumber+= 0.5){

      if(!document.getElementById(`star-${idNumber}`)){
        continue;
      }
      
      // mouseが星の上にカーソルが乗っているとき
      starMouseover(document.getElementById(`star-${idNumber}`), idNumber);

      // mouseが星をクリックしたとき
      starClick(document.getElementById(`star-${idNumber}`), idNumber);

      // mouseが星の上から離れたとき
      starMouseout(document.getElementById(`star-${idNumber}`), idNumber);
    }
  }());

</script>

