<div class="flex">
  <div class="w-2/3">
    <%= form_with model: date_spot_review, local: true do |f| %>
      <%= render 'shared/error_messages', target: date_spot_review %>
      <%= f.hidden_field :date_spot_id, :value => date_spot_review.date_spot_id %>
      <%= f.hidden_field :user_id, :value => date_spot_review.user_id %>

      <div class="m-5">
        <%= user.name %>
      </div>

      <div class="m-5 flex" id="rate">
        <img src ="<%= asset_url('star-off.png') %>" id ="star-1">
        <img src ="<%= asset_url('star-off.png') %>" id ="star-2">
        <img src ="<%= asset_url('star-off.png') %>" id ="star-3">
        <img src ="<%= asset_url('star-off.png') %>" id ="star-4">
        <img src ="<%= asset_url('star-off.png') %>" id ="star-5">
        <%= f.label :rate, "評価", class: "mx-4" %>
        <%= f.number_field :rate, readonly: true, class:"outline-none pointer-events-none", id: "rate-number" %>
      </div>

      <div class="m-5">
        <%= f.label :content, "コメント" %><br/>
        <%= f.text_area :content, size: "30x5", class:"border border-black" %>
        <span class="text-center">
          <%= f.submit btn_name, class: "btn btn-salmon my-5" %>
        </span>
      </div>
    <% end %>
  </div>
  <div class="w-1/3 p-5">
    <%= render 'layouts/image', { target_image: user, width: 250, height: 250 }%>
  </div>
</div>

<script>
　
  // 星にカーソルを合わせた場合の挙動の関数
  let starMouseover = function(star, idNumber){
    star.addEventListener("mouseover", function(){
      rate_management(idNumber, "<%= asset_url('star-on.png') %>");
      rateNumber.value = starOnCount();
    }, false);
  };

　// 星からカーソルを外した場合の挙動の関数
  let starMouseout = function(star, idNumber){
    star.addEventListener("mouseout", function(){
      rate_management(idNumber, "<%= asset_url('star-off.png') %>");
      rateNumber.value = starOnCount();
    }, false);
  };

  // 星をクリックした場合の挙動を行う関数
  let starClick = function(star, idNumber){
    star.addEventListener("click", function(){
      // rate_management_clicked(idNumber, "<%= asset_url('star-on.png') %>");
      // rateNumber.value == starOnCount();
      star_clicked_when_of_branch(star, idNumber);
    }, false);
  };

  let star_clicked_when_of_branch = function(star, idNumber){
    if(star.getAttribute("id") == `star-${idNumber}`){
      // クリックした際に評価され、星に色がつく
      rate_management_clicked(idNumber, "<%= asset_url('star-on.png') %>");
      rateNumber.value = starOnCount();
    }else if(star.getAttribute("id") == `star-clicked-${idNumber}`){
      // 星の評価を解除する。
      starOffAll();
      rateNumber.value = starOnCount();
    };
  };

  // 評価されている星すべての評価を解除する関数。
  let starOffAll = function(){
    let images = document.getElementById("rate").childNodes;
    for (let i= 1, idNumber = 1; i <= 9; i += 2, idNumber++){

      if(images[i].getAttribute("src") == "<%= asset_url('star-off.png') %>"){
        continue;
      };

      images[i].setAttribute("id", `star-${idNumber}`);
      images[i].setAttribute("src", "<%= asset_url('star-off.png') %>");
    };
  };

  // カーソルを合わせた星以下の星も変化させる関数　例　3番目の星にチェックを入れていたら、1番目と2番目も画像を変化させる関数。
  let rate_management = function(idNumber, targetImage){
    for(let subtractNumber = 0; subtractNumber <= idNumber; subtractNumber++){

      if(!document.getElementById(`star-${idNumber - subtractNumber}`)){
        continue;
      };

      document.getElementById(`star-${idNumber - subtractNumber}`).setAttribute("src", targetImage);
    };
  };

　// クリックした星より前の星も変化するようにする関数。
  let rate_management_clicked = function(idNumber, targetImage){
    for(let subtractNumber = 0; subtractNumber <= idNumber; subtractNumber++){

      if(!document.getElementById(`star-${idNumber - subtractNumber}`)){
        continue;
      };

      let starClicked = document.getElementById(`star-${idNumber - subtractNumber}`);
      starClicked.setAttribute("id", `star-clicked-${idNumber - subtractNumber}`);
      starClicked.setAttribute("src", targetImage);
    };
  };

  // src属性が"<%= asset_url('star-off.png') %>"のものを数えて返す。 この関数により、評価値を設定できている。
  let starOnCount = function(){
    let images = document.getElementById("rate").childNodes;
    let count = 0;

    for (let i = 1; i <= 9; i += 2){
      if(images[i].getAttribute("src") == "<%= asset_url('star-on.png') %>"){
        count += 1;
      };
    };

    return count;
  };

  // 星による評価の数値
  let rateNumber = document.getElementById("rate-number");
  rateNumber.value = starOnCount();

  // mouseが星の上にカーソルが乗っているとき
  for(let i = 1; i <= 5; i++){

    if(!document.getElementById(`star-${i}`)){
      continue;
    }
    
    // mouseが星の上にカーソルが乗っているとき
    starMouseover(document.getElementById(`star-${i}`), i);

    // mouseが星をクリックしたとき
    starClick(document.getElementById(`star-${i}`), i);

    // mouseが星の上から離れたとき
    starMouseout(document.getElementById(`star-${i}`), i);
  }

</script>
