<div class="m-5 p-5 bg-white">
  <div class="flex">
    <div class="w-2/3">

        <div class="m-5">
          <%= target_name%>
        </div>

        <div class="m-5 flex" id = "rate-<%= date_spot_review.id%>">
          <img src ="<%= asset_url('date_spot_review_images/star-off.png') %>" id ="star-1-id-<%= date_spot_review.id%>">
          <img src ="<%= asset_url('date_spot_review_images/star-off.png') %>" id ="star-2-id-<%= date_spot_review.id%>">
          <img src ="<%= asset_url('date_spot_review_images/star-off.png') %>" id ="star-3-id-<%= date_spot_review.id%>">
          <img src ="<%= asset_url('date_spot_review_images/star-off.png') %>" id ="star-4-id-<%= date_spot_review.id%>">
          <img src ="<%= asset_url('date_spot_review_images/star-off.png') %>" id ="star-5-id-<%= date_spot_review.id%>">
          <label class="mx-4" for="date_spot_review_rate">評価</label>
          <div id ="rateNumber-<%= date_spot_review.id%>">
            <%= date_spot_review.rate %>
          </div>
        </div>

        <div class="m-5">
          <%= date_spot_review.content%>
        </div>
    </div>
    <div class="w-1/3 p-5">
      <%= link_to user_path(date_spot_review.user) do %>
        <%= render 'layouts/image', {target_image: target_image, width: 250, height: 250} %>
      <% end %>
      <%  if current_user && date_spot_review.user == current_user %>
        <div class="text-center m-5">
          <%= link_to "レビューを編集する", edit_date_spot_review_path(date_spot_review), class:"btn btn-salmon" %>
        </div>
        <div class="text-center m-5">
          <%= link_to "削除する", date_spot_review_path(date_spot_review), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-red" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>

  // 評価の値に応じて、星の画像を変化させる。
  (() => {
    let images = document.getElementById("rate-<%= date_spot_review.id%>").childNodes;
    let star_number = Number(document.getElementById("rateNumber-<%= date_spot_review.id%>").innerText);

    // 小数
    let rate_decimal_value = Number(String(star_number).split(".")[1]) / 10;

    if(!Number.isInteger(star_number)){
      rate_decimal_value = Number(String(star_number).split(".")[1]) / 10;
    };

    let rate_integral_value = Math.trunc(star_number);
    
    // 星の個数
    // 整数値部分の評価を画像に反映
    //.map(要素用の変数, インデックス番号用の変数)
    [...Array(5)].map((_, number) => {
      if(number + 1 <= rate_integral_value ){
        let image = document.getElementById(`star-${number + 1}-id-<%= date_spot_review.id %>`);
        image.setAttribute("src", "<%= asset_url('date_spot_review_images/star-on.png') %>");
      }
    });

    // 小数点部分の評価を画像に反映させる。反映
    if(rate_decimal_value > 0 && rate_decimal_value <= 0.5){
      // 星数値に+１した数に星半分の画像を反省させる
      let image = document.getElementById(`star-${rate_integral_value + 1}-id-<%= date_spot_review.id %>`);
      image.setAttribute("src", "<%= asset_url('date_spot_review_images/star-half.png') %>");
    }else if(rate_decimal_value >= 0.6){
      // 星数値に+１した数に0.5以上なので星で埋め尽くされた画像を反映する。
      let image = document.getElementById(`star-${rate_integral_value + 1}-id-<%= date_spot_review.id %>`);
      image.setAttribute("src", "<%= asset_url('date_spot_review_images/star-on.png') %>");
    };

  })();

</script>
