<div class="flex">
  <div class="w-2/3">
    <%= form_with model: date_spot_review, local: true do |f| %>
      <%= render 'shared/error_messages', target: date_spot_review %>
      <%= f.hidden_field :date_spot_id, :value => date_spot_review.date_spot_id %>
      <%= f.hidden_field :user_id, :value => date_spot_review.user_id %>
      <div class="m-5">
        <%= user.name %>
      </div>
      <div class="m-5 flex" id="rate">
      </div>
      <div class="m-5">
        <%= f.label :content, "コメント"%><br/>
        <%= f.text_area :content, size: "30x5", class:"border border-black" %>
        <span class="text-center">
          <%= f.submit btn_name, class: "btn btn-salmon my-5" %>
        </span>
      </div>
    <% end %>
  </div>
  <div class="w-1/3 p-5">
    <%= render 'layouts/image', { target_image: user, width: 250, height: 250 }%>
  </div>
</div>

<script>
  let rate = document.getElementById("rate");
  for(let idNumber = 1; idNumber <=5; idNumber++){
    let imgElement = document.createElement("img");
    imgElement.setAttribute("src", "<%= asset_url('star-off.png') %>");
    imgElement.setAttribute("id", `star-${idNumber}`);
    imgElement.setAttribute("alt", "レビューによる評価用の星");
    rate.appendChild(imgElement);
    let star = document.getElementById(`star-${idNumber}`);
    star.addEventListener("mouseover", function(){
      star.setAttribute("src", "<%= asset_url('star-on.png') %>");
      rate_management(idNumber, "<%= asset_url('star-on.png') %>");
    });
    star.addEventListener("mouseout", function(){
      star.setAttribute("src", "<%= asset_url('star-off.png') %>");
      rate_management(idNumber, "<%= asset_url('star-off.png') %>");
    });
  };

  let rate_management = function(idNumber, targetImage){
    for(let j = 1; j <= 4; j++){
      document.getElementById(`star-${idNumber - j}`).setAttribute("src", targetImage);
    }
  }
</script>
