<div class="my-2 mx-20 px-20 border border-gray-400">
  <%= search_form_for @user_search_params do |f| %>
    <%= f.search_field :name_cont, class: "my-1 w-3/4 border-b-2 outline-none" %> <!-- name_contはnameカラムの単語の一部分を含むものを検索するという意味になります。 -->
    <span class="mx-5">
      <%= radio_button_tag("select_param", "@user_search_params", {checked: true}) %>
      <%= label_tag("select_param_radio", "ユーザー") %>
    </span>
    <span class="ml-5">
      <%= radio_button_tag("select_param", "@date_spot_search_params, as: :date_spot_search") %>
      <%= label_tag("select_param_radio", "デート") %>
    </span>
    <%= f.submit "検索", class: "btn btn-salmon my-2", id:"date_spot_name_search" %>
  <% end %>
</div>