<div class="sm:px-20 px-5 w-full shadow" style="background-color: #FC9267;">
  <%= form_with url: filter_search_path, method: :get, local: :true do |f| %>
    <%= f.text_field :search_name, class: "sm:w-2/4 xl:w-3/4 w-1/4 my-1 border-b-2 outline-none", placeholder: " デートスポット・ユーザーを名前で検索" %> <!-- name_contはnameカラムの単語の一部分を含むものを検索するという意味になります。 -->
    <span class="sm:mx-2">
      <%= radio_button_tag(:select_search_target, "Date", {checked: true}) %>
      <%= label_tag("select_param_radio", "デートスポット", class:"text-white text-xs") %>
    </span>
    <span class="sm:mx-2">
      <%= radio_button_tag(:select_search_target, "User") %>
      <%= label_tag("select_param_radio", "ユーザー", class:"text-white text-xs") %>
    </span>
      <%= f.submit "検索", class: "btn btn-salmon my-2" %>
  <% end %>
</div>
