<header>
  <h1 class="logo"><%= link_to "DateCourse", '#' %></h1>
  <!-- ログイン前 -->
  <ul class="menu-group">
    <li><%= link_to "デートスポットを探す", '#' %></li>
    <li><%= link_to "デートコースを探す", '#' %></li>
    <li><%= link_to "ユーザーを探す", '#' %></li>
    <li><%= link_to "新規登録", '#' %></li>
    <li><%= link_to "ログイン", '#' %></li>
    <li><%= link_to "ゲストログイン(1クリック)", '#' %></li>
  </ul>
</header>